<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./head %>
  </head>
  <body>
    <form class="culture" role="form">
      <label for="handicap-access">Handicap Access</label>
      <input type="checkbox" class="restaurant-type__checkbox handicap-access">
      <label for="kid-friendly">Kid Friendly</label>
      <input type="checkbox" class="restaurant-type__checkbox kid-friendly">
      <label for="pet-friendly">Pet Friendly</label>
      <input type="checkbox" class="restaurant-type__checkbox pet-friendly">
      <label for="large-party">Large Party Space</label>
      <input type="checkbox" class="restaurant-type__checkbox large-party">
      <label for="Reservations">Reservations</label>
      <input type="checkbox" class="restaurant-type__checkbox reservations">
      <label for="wifi">WiFi</label>
      <input type="checkbox" class="restaurant-type__checkbox wifi">
      <label for="bar-area">Bar Area</label>
      <input type="checkbox" class="restaurant-type__checkbox bar-area">
      <label for="outdoor-patio">Outdoor Patio</label>
      <input type="checkbox" class="restaurant-type__checkbox outdoor-patio">
      <label for="fire-pits">Fire Pits</label>
      <input type="checkbox" class="restaurant-type__checkbox fire-pits">
    </form>
  </body>
</html>
