<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./head %>
  </head>
  <body>
    <p>Dietary Details</p>
    <form class="dietary" role="form">
      <label for="farm-to-table-100">100% Farm to Table</label>
      <input type="checkbox" class="dietary__checkbox farm-to-table">
      <label for="farm-to-table-focus">Farm to Table Focused</label>
      <input type="checkbox" class="dietary__checkbox farm-to-table-focus">
      <label for="100-vegan">100% Vegan</label>
      <input type="checkbox" class="dietary__checkbox 100100-vegan">
      <label for="vegan-menu">Vegan Menu Options</label>
      <input type="checkbox" class="dietary__checkbox vegan-menu">
      <label for="100-veggie">100% Vegetarian</label>
      <input type="checkbox" class="dietary__checkbox 100-veggie">
      <label for="veggie-menu">Vegetarian Menu Options</label>
      <input type="checkbox" class="dietary__checkbox veggie-menu">
      <label for="100-organic">100% Organic</label>
      <input type="checkbox" class="dietary__checkbox 100-organic">
      <label for="organic-menu">Organic Menu Options</label>
      <input type="checkbox" class="dietary__checkbox 100-organic">
      <label for="100-gf">100% Gluten Free</label>
      <input type="checkbox" class="dietary__checkbox 100-gf">
      <label for="gf-menu">Gluten Free Menu Options</label>
      <input type="checkbox" class="dietary__checkbox gf-menu">
      <label for="paleo-menu">Paleo Menu Options</label>
      <input type="checkbox" class="dietary__checkbox paleo-menu">
      <label for="msg">No MSG</label>
      <input type="checkbox" class="dietary__checkbox msg">
      <label for="kosher">Kosher</label>
      <input type="checkbox" class="dietary__checkbox kosher">
      <label for="grass-fed">Grass Fed</label>
      <input type="checkbox" class="dietary__checkbox grass-fed">
      <label for="local-meat">Locally Sourced Meat</label>
      <input type="checkbox" class="dietary__checkbox local-meat">
      <label for="alcohol">Alcohol</label>
      <input type="checkbox" class="dietary__checkbox alcohol">
      <label for="byob">BYOB</label>
      <input type="checkbox" class="dietary__checkbox byob">
    </form>
    <section>
      <button><a href="/restaurant-profile">Next ></a></button>
    </section>
  </body>
</html>
