<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/food-type.css">
  </head>
  <body>
    <section class="food-type-container">
      <p>Food Genre</p>
      <form class="food-type" role="form">
        <label for="chinese">Chinese</label>
        <input type="checkbox" class="food-type__checkbox chinese">
        <label for="japanese">Japanese</label>
        <input type="checkbox" class="food-type__checkbox japanese">
        <label for="thai">Thai</label>
        <input type="checkbox" class="food-type__checkbox thai">
        <label for="indian">Indian</label>
        <input type="checkbox" class="food-type__checkbox indian">
        <label for="vietnamese">Vietnamese</label>
        <input type="checkbox" class="food-type__checkbox vietnamese">
        <label for="italian">Italian</label>
        <input type="checkbox" class="food-type__checkbox italian">
        <label for="mexican">Mexican</label>
        <input type="checkbox" class="food-type__checkbox mexican">
        <label for="latin-american">Latin American</label>
        <input type="checkbox" class="food-type__checkbox latin-american">
        <label for="greek">Greek & Mediterranean</label>
        <input type="checkbox" class="food-type__checkbox greek">
        <label for="middle-eastern">Middle Eastern</label>
        <input type="checkbox" class="food-type__checkbox middle-eastern">
        <label for="american">American</label>
        <input type="checkbox" class="food-type__checkbox american">
      </form>
        <button><a href="/specialties">Next ></button>
    </section>
  </body>
</html>
