<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Header</title>
  <% include ./head %>
</head>

<body>
  <header role="header">
    <div class="login-container">
      <p class="header__p"><a href="./restaurant-signin" class="header__a"><i class="fas fa-utensils"></i>Restaurant Sign In</a></p>
      <p class="header__p"><a href="./restaurant-signin" class="header__a"><i class="fas fa-user"></i>User Sign In</a></p>
      <form class="main__form">
        <label for="nav-bar__search"><i class="fas fa-search"></i></label>
        <input type="search" id="nav-bar__search" placeholder="Zipcode (i.e. 80027)">
      </form>
    </div>
      <div class="main-header">
        <h4 class="logo">NARKAL</h4>
        <img class="logo__img" src="/images/narwhal.png">
      </div>
  </header>
</body>

</html>
