<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
    <meta charset="utf-8">
    <title></title>

</head>

<body>
  <section class="register-container">
    <p>Basic Information</p>
    <form class="basic-info" role="register-form">
      <label for="basic-info__name">Restaurant</label>
      <input type="text" class="basic-info__name">
      <label for="basic-info__address">Street Address</label>
      <input type="text" placeholder="101 Rainbow Street" class="basic-info__address">
      <label for="basic-info__city">City</label>
      <input type="text" placeholder="Glitterville" class="basic-info__city">
      <label for="basic-info__state">State</label>
      <input type="text" placeholder="CO" class="basic-info__state">
      <label for="basic-info__zipcode">Zipcode</label>
      <input type="text" placeholder="12345" class="basic-info__zipcode">
      <label for="basic-info__phone">Phone</label>
      <input type="text" placeholder="###-###-####" class="basic-info__phone">
      <label for="basic-info__facebook">Facebook</label>
      <input type="text" placeholder="Link to Facebook Page" class="basic-info__facebook">
      <label for="basic-info__twitter">Twitter</label>
      <input type="text" placeholder="Link to Twitter Page" class="basic-info__twitter">
      <label for="basic-info__city">Instagram</label>
      <input type="text" placeholder="Link to Instagram Page" class="basic-info__city">
      <label for="basic-info__hours">Hours</label>
      <input type="text" placeholder="i.e. 10am-10pm" class="basic-info__hours">
      <label for="basic-info__email">Email</label>
      <input type="email" placeholder="restaurant@gmail.com" class="basic-info__email">
      <label for="basic-info__profile-img">Profile Image</label>
      <input type="file" class="profile-img__file">
      <input type="submit" class="profile-img__submit" accept="image/*">
    </form>
    <form class="expense">
      <p>Expense Level</p>
      <label for="expense__1">$</label>
      <input type="radio" name="expense-level" value="level-one" id="expense__1">
      <label for="expense__2">$$</label>
      <input type="radio" name="expense-level" value="level-two" id="expense__2">
      <label for="expense__3">$$$</label>
      <input type="radio" name="expense-level" value="level-three" id="expense__3">
      <label for="expense__4">$$$$</label>
      <input type="radio" name="expense-level" value="level-four" id="expense__4">
    </form>
    <!-- add action="file path" -->
    <form class="menu">
      <label for="basic-info__menu">Menu</label>
      <input type="file" class="menu__file">
      <input type="submit" class="menu__submit" accept="image/*">
    </form>
  </section>
  <section>
    <button class="social_btn"><a href="./facebook"><i class="fab fa-facebook-square"></i>Join with Facebook</a></button>
    <button><a href="./restaurant-profile">Next ></button>
  </section>
  <section id="map-container">
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
  </section>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./javascripts/map.js"></script>
</body>

</html>
