<!DOCTYPE html>
<html>

<head>
  <title>Narkal</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <% include ./head %>

</head>

<body>
  <h1 class="logo">NARKAL</h1>
  <section class="rest-container">
    <h4>RESTAURANT</h4>
    <button class="rest__signIn"><a href="./restaurant-signin">Sign In</a></button>
    <button class="rest__signUp"><a href="./restaurant-signup">Sign Up</button>
  </section>
  <section class="user-container">
    <h4>USER</h4>
    <button class="user__signIn">Sign In</button>
    <button class="rest__signUp">Sign Up</button>
  </section>
    <div id="map">
    </div>
  <section>
    <img id="map-marker" src="/images/narkle_marker.png" />
    <button class="social_btn"><a href="./facebook"><i class="fab fa-facebook-square"></i>Join with Facebook</a></button>
    <button><a href="./restaurant-profile">Next ></a></button>
  </section>
  <script>
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: -34.397,
          lng: 150.644
        },
        zoom: 8
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwSt9xzoEQLQCHhIxf7ITb7XuxyUaDyAo&callback=initMap" async defer></script>
</body>

</html>

<!--
      // Marker = new google.maps.Marker(document.getElementById('#map-marker'), {
      //   position: map.center,
      //   map: map,
      //   icon: image
      // }); -->


      <!-- <form class="form" method="POST" action="./routes/users-signup">
        <label for="sign-up__email">Email</label>
        <input type="email" placeholder="narkal@me.com" value="email" class="sign-up__email">
        <label for="sign-up__password">Password</label>
        <input type="password" placeholder="password" value="password" class="sign-up__password">
        <button type="submit" id="user">user login</button>
      </form> -->
