<!DOCTYPE html>
<html>
  <head>
    <% include ./head %>
  </head>
  <body>
    <header>
      <h1>Narkal</h1>
      <section>
        <button>Get the App</button>
        <p>Log In</p>
        <button>Narkals</button>
        <button>Restaurants</button>
      </section>
    </header>
    <section class="nav-bar">
      <a href="#" class="a__nav-bar">HOME</a>
      <a href="#" class="a__nav-bar">DISCUSSIONS</a>
      <a href="#" class="a__nav-bar">IN YOUR AREA</a>
      <a href="#" class="a__nav-bar">SEARCH</a>
    </section>
    <footer>

    </footer>
  </body>

</html>
