<!DOCTYPE html>
<html>

<head>
  <title>Narkal</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
  <header role="header">
    <div class="login-container">
      <p class="header__p"><a href="./restaurant-signin" class="header__a"><i class="fas fa-utensils"></i>Restaurant Sign In</a></p>
      <p class="header__p"><a href="./restaurant-signin" class="header__a"><i class="fas fa-user"></i>User Sign In</a></p>
      <form class="main__form">
        <label for="nav-bar__search"><i class="fas fa-search"></i></label>
        <input type="search" id="nav-bar__search" placeholder="Zipcode (i.e. 80027)">
      </form>
    </div>
      <div class="main-header">
        <h4 class="logo">NARKAL</h4>
        <img class="logo__img" src="/images/narwhal.png">
      </div>
  </header>
  <main role="main">
    <section class="main__intro">
      <h4 class="main__h4" id="main__h4">A place to find health conscious and ethically sourced dining out options that fit YOUR lifestyle.</h4>
    </section>
    <section class="map-container">
      <div id="map"></div>
      <img id="map-marker" src="/images/narkle_marker.png" />
    </section>
    <section class="rest-user-container">
      <article class="rest-container">
        <h4 class="main__h4">RESTAURANT</h4>
        <button class="main__btn"><a href="./restaurant-signin" class="main__a">Sign In</a></button>
        <p class="main--or">OR</p>
        <p>Sign Up to Receive Benefits:</p>
        <ul class="main__ul">
          <li><i class="fas fa-angle-double-right"></i>Restaurant on Map</li>
          <li><i class="fas fa-angle-double-right"></i>Custom Profile for Restaurant</li>
          <li><i class="fas fa-angle-double-right"></i>Increased User Visibility</li>
        </ul>
        <button class="main__btn"><a href="./restaurant-signup" class="main__a">Sign Up</a></button>
        <button class="main__btn social__btn"><a href="./facebook" class="main__a"><i class="fab fa-facebook-square" aria-hidden="true"></i>Join with Facebook</a></button>
      </article>
      <article class="user-container">
        <h4 class="main__h4">USER</h4>
        <button class="main__btn"><a href="./restaurant-signin" class="main__a">Sign In</a></button>
        <p class="main--or">OR</p>
        <p>Sign Up to Receive Benefits:</p>
        <ul class="main__ul">
          <li><i class="fas fa-angle-double-right"></i>Find restaurants to fit your lifestyle</li>
          <li><i class="fas fa-angle-double-right"></i>Custom Profile</li>
          <li><i class="fas fa-angle-double-right"></i>Review Restaurants</li>
        </ul>
        <button class="main__btn"><a href="./restaurant-signin" class="main__a">Sign Up</a></button>
        <button class="main__btn social_btn"><a href="./facebook" class="main__a"><i class="fab fa-facebook-square" aria-hidden="true"></i>Join with Facebook</a></button>
      </article>
    </section>
  </main>
  <footer role="footer">
    <p>Copyright&copy;2018</p>
    <p>NARKAL</p>
    <section>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram"></i>
    </section>
  </footer>
  <script>
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: -34.397,
          lng: 150.644
        },
        zoom: 10
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Shine Restaurant');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwSt9xzoEQLQCHhIxf7ITb7XuxyUaDyAo&callback=initMap" async defer></script>
</body>

</html>

<!--
      // Marker = new google.maps.Marker(document.getElementById('#map-marker'), {
      //   position: map.center,
      //   map: map,
      //   icon: image
      // }); -->


<!-- <form class="form" method="POST" action="./routes/users-signup">
        <label for="sign-up__email">Email</label>
        <input type="email" placeholder="narkal@me.com" value="email" class="sign-up__email">
        <label for="sign-up__password">Password</label>
        <input type="password" placeholder="password" value="password" class="sign-up__password">
        <button type="submit" id="user">user login</button>
      </form> -->
