<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Profile</title>
  <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/restaurant-profile.css">

</head>

<body>
  <% include ./header %>
    <section class="section-content">
      <article class="header__article">
        <img class="profile-img" src="images/shine-logo.jpg">
      </article>
    </section>
    <main class="main-content">
      <div class="article-aside-wrap">
        <article class="main-content-article">
          <div class="restaurant-description__div restaurant-description--color">
            <h2 class="main-content__h2">Shine Restaurant</h2>
            <button class="main-content__btn" aria-label="edit-description"><i class="fas fa-pencil-alt"></i>EDIT</button>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">LOCATION</h2>
            <p class="main-content__p">2480 Canyon Blvd, Boulder, CO 80302</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">PHONE</h2>
            <p class="main-content__p">303.449.0120</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">EMAIL</h2>
            <p class="main-content__p">sisters@shineboulder.com</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">HOURS</h2>
            <p class="main-content__p">Monday-Friday 11AM - 10PM</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">EXPENSE LEVEL</h2>
            <p class="main-content__p">$$$</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2" id="description-target">HIGHLIGHTS</h2>
            <p class="main-content__p">2018 Diner's Choice Award Winner</p>
            <img id="main-content__img" src="images/diners_choice.png">
          </div>
        </article>
        <aside class="main-content__aside">
          <div class="social">
            <button class="social__btn facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i>Facebook</button>
            <button class="social__btn twitter"><i class="fab fa-twitter" aria-hidden="true"></i>Twitter</button>
            <button class="social__btn linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i>Instagram</button>
          </div>
            <div class="narkons-wrapper">
              <!-- <div class="narkons--align"> -->
              <ul class="narkons__ul">
                <span class="narkons__span">RESTAURANT GENRE</span>
                <li><i class="fas fa-angle-right"></i>Sit Down</li>
              </ul>
              <ul class="narkons__ul">
                <span class="narkons__span">FOOD GENRE</span>
                <li><i class="fas fa-angle-right"></i>American</li>
              </ul>
              <ul class="narkons__ul">
                <span class="narkons__span">SPECIALTIES</span>
                <li><i class="fas fa-angle-right"></i>Happy Hour</li>
                <li><i class="fas fa-angle-right"></i>Kombucha</li>
              </ul>
            <!-- </div> -->
            <!-- <div class="narkons--align"> -->
              <ul class="narkons__ul">
                <span class="narkons__span">CULTURE & CONVENIENCE</span>
                <li><i class="fas fa-angle-right"></i>Handicap Access</li>
                <li><i class="fas fa-angle-right"></i>Kid Friendly</li>
                <li><i class="fas fa-angle-right"></i>Large Party Space</li>
                <li><i class="fas fa-angle-right"></i>Reservations</li>
                <li><i class="fas fa-angle-right"></i>WiFi</li>
                <li><i class="fas fa-angle-right"></i>Bar Area</li>
              </ul>
              <ul class="narkons__ul">
                <span class="narkons__span">DIETARY</span>
                <li><i class="fas fa-angle-right"></i>Farm to Table Focused</li>
                <li><i class="fas fa-angle-right"></i>Vegan Menu Options</li>
                <li><i class="fas fa-angle-right"></i>Vegetarian Menu Options</li>
                <li><i class="fas fa-angle-right"></i>Organic Menu Options</li>
                <li><i class="fas fa-angle-right"></i>GF Menu Options</li>
                <li><i class="fas fa-angle-right"></i>Paleo Menu Options</li>
                <li><i class="fas fa-angle-right"></i>Locally Sourced Meat</li>
                <li><i class="fas fa-angle-right"></i>Alcohol</li>
              </ul>
            <!-- </div> -->
          </div>
        </aside>
      </div>
    </main>
    <% include ./footer %>
</body>

</html>
