<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Profile</title>
  <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="./stylesheets/restaurant-profile.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="wrapper">
    <nav class="side-nav">
      <figure class="side-nav-profile">
        <img class="side-nav-profile__img" src="img/ray-turner.jpg" alt="ray-the-eel-man">
        <figcaption class="side-nav-profile__figcaption">Ray Turner</figcaption>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </figure>
      <div class="side-nav-main">
        <p class="side-nav__p">Main</p>
        <a href="#" class="side-nav--href"><i class="fa fa-home side-nav__i" aria-hidden="true"></i>HOME</a>
        <a href="#" class="side-nav--href"><i class="fa fa-briefcase side-nav__i" aria-hidden="true"></i>
        JOBS</a>
        <a href="#" class="side-nav--href"><i class="fa fa-file-text-o side-nav__i" aria-hidden="true"></i>
        RESUMES</a>
        <a href="#" class="side-nav--href"><i class="fa fa-thumb-tack side-nav__i" aria-hidden="true"></i>
        TASKS</a>
        <a href="#" class="side-nav--href"><i class="fa fa-calendar side-nav__i" aria-hidden="true"></i>
        CALENDAR</a>
      </div>
      <div class="side-nav-admin">
        <p class="side-nav__p">Admin</p>
        <a href="#" class="side-nav--href"><i class="fa fa-users side-nav__i" aria-hidden="true"></i>
        USERS</a>
        <a href="#" class="side-nav--href"><i class="fa fa-map-marker side-nav__i" aria-hidden="true"></i>
        LOCATIONS</a>
        <a href="#" class="side-nav--href"><i class="fa fa-leaf side-nav__i" aria-hidden="true"></i>
        LEAVES</a>
        <a href="#" class="side-nav--href"><i class="fa fa-clipboard side-nav__i" aria-hidden="true"></i>
        JOB BOARDS</a>
        <a href="#" class="side-nav--href"><i class="fa fa-share-alt side-nav__i" aria-hidden="true"></i>
        SOCIAL</a>
      </div>
      <div class="side-nav-categories">
        <p class="side-nav__p">Categories</p>
        <a href="#" class="side-nav--href"><i class="fa fa-square side-nav__i" aria-hidden="true"></i>
        Administrative</a>
        <a href="#" class="side-nav--href"><i class="fa fa-square side-nav__i" aria-hidden="true"></i>
        Design</a>
        <a href="#" class="side-nav--href"><i class="fa fa-square side-nav__i" aria-hidden="true"></i>
        Executives</a>
        <a href="#" class="side-nav--href"><i class="fa fa-square side-nav__i" aria-hidden="true"></i>
        Human Resources</a>
      </div>
    </nav>
    <header class="header" role="header">
      <div class="search-bar">
          <button class="header__btn" aria-expand="true"><i class="fa fa-caret-left" id="fa-caret-left" aria-hidden="true"></i><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="search-input-wrap">
          <form role="form" class="header-form">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search for a job, task or resume" class="header-form__text" aria-label="search-bar">
          </form>
        </div>
          <button class="header__btn">
            <i class="fa fa-user-plus" aria-hidden="true"></i></button>
          <button class="header__btn">
            <i class="fa fa-calendar" aria-hidden="true"></i></button>
          <button class="header__btn">
            <i class="fa fa-th" aria-hidden="true"></i></button>
      </div>
      <div class="page-info">
        <div class="main-title">
        <h1 class="main-title__h1">Eel Fisherman</h1>
        <p class="main-title__p"><i class="fa fa-map-marker" aria-hidden="true"></i>Rochester, NY - <span class="main-title__p--span">Preview this post</span></p>
        </div>
        <div class="page-edit">
          <button class="page-edit__btn" aria-label="open-page-edit"><i class="fa fa-circle" aria-hidden="true"></i>
          OPEN</button>
          <button class="page-edit__btn"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
          <button class="page-edit__btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="page-edit__btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>
      <nav class="second-nav">
        <div class="second-nav__ul">
          <a href="#">SUMMARY</a>
          <a href="#">APPLICANTS</a>
          <a href="#">JOB BOARD</a>
          <a href="#">INTERVIEWS</a>
          <a href="#">ACTIVITY</a>
          <a href="#">BROADCAST</a>
          <a href="#">NOTIFICATIONS</a>
        </div>
      </nav>
    </header>
    <section class="section-content">
      <article class="circle-graphs">
        <div class="circle-graph__data">
        <div class="circle-graph__text">
          <p id="circle-graph__num">1,498</p>
          <h2>APPLICATIONS</h2>
        </div>
        <svg class="circle-graph__svg"><circle cx="75" cy="75" r="60" stroke="#ADB8CD" fill="none" style="stroke-width: 10;"></circle><path d="M75,15 A60,60 0 1,1 26.458980337503156,110.26711513754839" stroke="#00BCC6" fill="none" style="stroke-width: 10;"></path></svg>
        </div>
      <div class="circle-graph__data">
        <div class="circle-graph__text">
          <p id="circle-graph__num">2,589</p>
          <h2>INTERVIEWS</h2>
        </div>
        <svg class="circle-graph__svg"><circle cx="75" cy="75" r="60" stroke="#ADB8CD" fill="none" style="stroke-width: 10;"></circle><path d="M60,15 A60,60 0 1,1 26.458980337503156,110.26711513754839" stroke="#009FFB" fill="none" style="stroke-width: 10;"></path></svg>
      </div>
      <div class="circle-graph__data">
        <div class="circle-graph__text">
           <p id="circle-graph__num">523</p>
          <h2>FORWARD</h2>
        </div>
        <svg class="circle-graph__svg"><circle cx="75" cy="75" r="60" stroke="#ADB8CD" fill="none" style="stroke-width: 10;"></circle><defs></defs><path d="M85,15 A60,60 0 1,1 26.458980337503156,110.26711513754839" stroke="#B55CB0" fill="none" style="stroke-width: 10;"></path></svg>
      </div>
      <form role="form" class="circle-graphs-form">
        <input class="circle-graphs-form__input graph-input-style" type="submit" value="TOTALS - Out of 1,304 views" aria-label="see-all-totals">
      </form>
      </article>
      <article class="bar-graph">
        <img class="bar-graph__img" src="img/bar-graph.png" alt="bar-graph-data">
        <form class="bar-graph-form" role="form">
          <input class="bar-graph-form__input graph-input-style" type="submit" value="APPLICANTS/DAY" aria-label="applicants-compared-to-day">
        </form>
      </article>
    </section>
    <main class="main-content">
      <div class="line-break">
        <hr class="line-break__hr">
        <button class="line-break__btn"><i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
      </div>
      <div class="article-aside-wrap">
        <article class="main-content-article">
          <div class="job-description__div job-description--color">
              <h2 class="main-content__h2">JOB DESCRIPTION</h2>
              <button class="main-content__btn" aria-label="edit-description"><i class="fa fa-pencil" aria-hidden="true"></i>EDIT</button>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">POSITION TITLE</h2>
            <p class="main-content__p">Eel Fisherman</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">LOCATION</h2>
            <p class="main-content__p">Rochestor, NY</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">EMPLOYMENT TYPE</h2>
            <p class="main-content__p">Full-time</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">EXPERIENCE</h2>
            <p class="main-content__p">High-level</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">STATUS</h2>
            <p class="main-content__p">Open</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2" id="description-target">DESCRIPTION</h2>
            <p class="main-content__p">At froth java mug, coffee, seasonal robust french press spoon flavour to go single shot brewed mazagran ristretto. Lungo robust seasonal cup viennese iced acerbic chicory, mazagran est et, siphon dripper aged lungo cinnamon cream body. Qui aroma bar, viennese cappuccino mocha galão, eu, foam, café au lait cinnamon aromatic, sit turkish extra, sugar whipped extra, french.</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">HIRING LEAD</h2>
            <figure class="main-content__figure">
              <img class="main-content__img" src="img/emu-hiring-lead.jpg" alt="hiring-lead-profile">
              <figcaption class="main-content__figcaption">Bertha</figcaption>
            </figure>
          </div>
            <div class="job-description__div">
            <h2 class="main-content__h2">APPROVED SALARY</h2>
            <p>$200/EEL</p>
          </div>
        </article>
          <aside class="main-content__aside">
            <div class="social">
              <button class="social__btn facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Post to Facebook</button>
              <button class="social__btn twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Tweet this Job</button>
              <button class="social__btn linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>Post to Linkedin</button>
            </div>
            <div class="add-links__wrap">
              <h3 class="add-links__h3"><i class="fa fa-globe" aria-hidden="true"></i>Link to this Job</h3>
              <p>Cat fur is the new black with tail in the air or favor packaging over toy for pounce on.</p>
            <form role="form" class="aside__form">
              <input type="text" placeholder="http://loremipsum.dol/sit.ameteur.io" aria-label="add-link-to-job">
              <input type="submit" value="Copy" aria-label="copy-link">
            </form>
            </div>
            <div class="add-links__wrap">
              <h3 class="add-links__h3"><i class="fa fa-desktop" aria-hidden="true"></i>Use the Button Widget</h3>
              <p>Cat fur is the new black with tail in the air or favor packaging over toy for pounce on.</p>
            <form role="form" class="aside__form">
              <input type="text" placeholder="http://loremipsum.dol/sit.ameteur.io" aria-label="add-link-to-embed">
              <input type="submit" value="Copy" aria-label="copy-link">
            </form>
            </div>
            <div class="add-links__wrap">
              <h3 class="add-links__h3"><i class="fa fa-paper-plane" aria-hidden="true"></i>Upload Resumes by Email</h3>
              <p>Cat fur is the new black with tail in the air or favor packaging over toy for pounce on.</p>
            <form role="form" class="aside__form">
              <input id="email__input" type="text" placeholder="bertha@gmail.com">
            </form>
            </div>
          </aside>
        </div>
      </main>
    </div>
</body>
</html>
