<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Profile</title>
  <% include ./head %>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/restaurant-profile.css">

</head>
<body>
    <% include ./header %>
    <section class="section-content">
      <article class="header__article">
        <img class="profile-img" src="images/shine-logo.jpg">
      </article>
    </section>
    <main class="main-content">
      <div class="line-break">
        <hr class="line-break__hr">
        <button class="line-break__btn"><i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
      </div>
      <div class="article-aside-wrap">
        <article class="main-content-article">
          <div class="job-description__div job-description--color">
              <h2 class="main-content__h2">JOB DESCRIPTION</h2>
              <button class="main-content__btn" aria-label="edit-description"><i class="fa fa-pencil" aria-hidden="true"></i>EDIT</button>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">POSITION TITLE</h2>
            <p class="main-content__p">Eel Fisherman</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">LOCATION</h2>
            <p class="main-content__p">Rochestor, NY</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">EMPLOYMENT TYPE</h2>
            <p class="main-content__p">Full-time</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">EXPERIENCE</h2>
            <p class="main-content__p">High-level</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">STATUS</h2>
            <p class="main-content__p">Open</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2" id="description-target">DESCRIPTION</h2>
            <p class="main-content__p">At froth java mug, coffee, seasonal robust french press spoon flavour to go single shot brewed mazagran ristretto. Lungo robust seasonal cup viennese iced acerbic chicory, mazagran est et, siphon dripper aged lungo cinnamon cream body. Qui aroma bar, viennese cappuccino mocha galão, eu, foam, café au lait cinnamon aromatic, sit turkish extra, sugar whipped extra, french.</p>
          </div>
          <div class="job-description__div">
            <h2 class="main-content__h2">HIRING LEAD</h2>
            <figure class="main-content__figure">
              <img class="main-content__img" src="img/emu-hiring-lead.jpg" alt="hiring-lead-profile">
              <figcaption class="main-content__figcaption">Bertha</figcaption>
            </figure>
          </div>
            <div class="job-description__div">
            <h2 class="main-content__h2">APPROVED SALARY</h2>
            <p>$200/EEL</p>
          </div>
        </article>
          <aside class="main-content__aside">
            <div class="social">
              <button class="social__btn facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Post to Facebook</button>
              <button class="social__btn twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Tweet this Job</button>
              <button class="social__btn linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>Post to Linkedin</button>
            </div>
            <div class="add-links__wrap">
              <h3 class="add-links__h3"><i class="fa fa-globe" aria-hidden="true"></i>Link to this Job</h3>
              <p>Cat fur is the new black with tail in the air or favor packaging over toy for pounce on.</p>
            <form role="form" class="aside__form">
              <input type="text" placeholder="http://loremipsum.dol/sit.ameteur.io" aria-label="add-link-to-job">
              <input type="submit" value="Copy" aria-label="copy-link">
            </form>
            </div>
            <div class="add-links__wrap">
              <h3 class="add-links__h3"><i class="fa fa-desktop" aria-hidden="true"></i>Use the Button Widget</h3>
              <p>Cat fur is the new black with tail in the air or favor packaging over toy for pounce on.</p>
            <form role="form" class="aside__form">
              <input type="text" placeholder="http://loremipsum.dol/sit.ameteur.io" aria-label="add-link-to-embed">
              <input type="submit" value="Copy" aria-label="copy-link">
            </form>
            </div>
            <div class="add-links__wrap">
              <h3 class="add-links__h3"><i class="fa fa-paper-plane" aria-hidden="true"></i>Upload Resumes by Email</h3>
              <p>Cat fur is the new black with tail in the air or favor packaging over toy for pounce on.</p>
            <form role="form" class="aside__form">
              <input id="email__input" type="text" placeholder="bertha@gmail.com">
            </form>
            </div>
          </aside>
        </div>
      </main>
</body>
</html>
