<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Profile</title>
  <% include ./head %>
  <link rel="stylesheet" href="/stylesheets/restaurant-profile.css">

</head>

<body>
  <% include ./header %>
    <section class="section-content">
      <article class="header__article">
        <img class="profile-img" src="images/shine-logo.jpg">
      </article>
    </section>
    <main class="main-content">
      <div class="article-aside-wrap">
        <article class="main-content-article">
          <div class="restaurant-description__div restaurant-description--color">
            <h2 class="main-content__h2">Shine Restaurant</h2>
            <button class="main-content__btn" aria-label="edit-description"><i class="fas fa-pencil-alt"></i>EDIT</button>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">LOCATION</h2>
            <p class="main-content__p">2480 Canyon Blvd, Boulder, CO 80302</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">PHONE</h2>
            <p class="main-content__p">303.449.0120</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">EMAIL</h2>
            <p class="main-content__p">sisters@shineboulder.com</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">HOURS</h2>
            <p class="main-content__p">Monday-Friday 11AM - 10PM</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2">EXPENSE LEVEL</h2>
            <p class="main-content__p">$$$</p>
          </div>
          <div class="restaurant-description__div">
            <h2 class="main-content__h2" id="description-target">HIGHLIGHTS</h2>
            <p class="main-content__p">2018 Diner's Choice Award Winner</p>
            <img id="main-content__img" src="images/diners_choice.png">
          </div>
        </article>
        <aside class="main-content__aside">
          <div class="social">
            <button class="social__btn facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i>Facebook</button>
            <button class="social__btn twitter"><i class="fab fa-twitter" aria-hidden="true"></i>Twitter</button>
            <button class="social__btn linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i>Instagram</button>
          </div>
          <div class="add-links__wrap">
            <p>Restaurant Genre: <span>Sit Down</span></p>
            <p>Food Genre: <span>American</span></p>
            <p>Specialties: <span>Happy Hour</span> - <span>Kombucha</span></p>
            <p>Culture & Convenience: <span>American</span></p>
            <p>Dietary:
              <span>Farm to Table Focused</span> -
              <span>Vegan Menu Options</span> -
              <span>Vegetarian Menu Options</span> -
              <span>Organic Menu Options</span> -
              <span>GF Menu Options</span> -
              <span>Paleo Menu Options</span> -
              <span>No MSG</span> -
              <span>Grass Fed Beef</span> -
              <span>Locally Sourced Meat</span> -
              <span>Alcohol</span> -
            </p>
            <p>Culture & Convenience: <span>American</span></p>
          </div>
        </aside>
      </div>
    </main>
    <% include ./footer %>
</body>

</html>
