<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./head %>
  </head>
  <body>
    <p>Restaurant Genre</p>
    <form class="restaurant-type" role="form">
      <label for="counter-service">Counter Service</label>
      <input type="checkbox" class="restaurant-type__checkbox counter-service">
      <label for="sit-down">Sit Down</label>
      <input type="checkbox" class="restaurant-type__checkbox sit-down">
      <label for="cafe">Caf&eacute;</label>
      <input type="checkbox" class="restaurant-type__checkbox cafe">
      <label for="food-truck">Food Truck</label>
      <input type="checkbox" class="restaurant-type__checkbox food-truck">
      <label for="brewery">Brewery</label>
      <input type="checkbox" class="restaurant-type__checkbox brewery">
      <label for="vineyard">Vineyard</label>
      <input type="checkbox" class="restaurant-type__checkbox cafe">
      <label for="csa">Community Supported Agriculture (CSA)</label>
      <input type="checkbox" class="restaurant-type__checkbox csa">
      <label for="farmers-market">Farmers' Market</label>
      <input type="checkbox" class="restaurant-type__checkbox farmers-market">
      <label for="health-food">Health Food Store</label>
      <input type="checkbox" class="restaurant-type__checkbox cafe">
      <label for="produce-stand">Fruit and Vegetable Stand</label>
      <input type="checkbox" class="restaurant-type__checkbox produce-stand">
      <label for="pet-food">Pet Food</label>
      <input type="checkbox" class="restaurant-type__checkbox pet-food">
      <label for="cannabis-tobacco">Cannabis & Tobacco</label>
      <input type="checkbox" class="restaurant-type__checkbox cannabis-tobacco">
    </form>
  </body>
</html>
