<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="sign-up">
      <form>
        <label for="sign-up__email">Email</label>
        <input type="email" placeholder="narkal@me.com" value="email" class="sign-up__email">
        <label for="sign-up__password">Password</label>
        <input type="password" placeholder="password" value="password" class="sign-up__password">
      </form>
    </section>
    <section class="social">
      <button class="social_btn"><i class="fab fa-facebook-square"></i>Join with Facebook</button>
      <button class="social_btn"><i class="fab fa-twitter"></i>Join with Twitter</button>
      <button class="social_btn"><i class="fab fa-linkedin-in"></i>Join with Linkedin</button>
    </section>

  </body>
</html>
