<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/specialties.css">
  </head>
  <body>
    <section class="specialties-container">
    <p>Specialties</p>
    <form class="specialties">
      <label for="pizza">Pizza</label>
      <input type="checkbox" class="specialties__checkbox pizza">
      <label for="burgers">Burgers</label>
      <input type="checkbox" class="specialties__checkbox burgers">
      <label for="breakfast-brunch">Breakfast & Brunch</label>
      <input type="checkbox" class="specialties__checkbox breakfast-brunch">
      <label for="ice-cream">Ice Cream & Specialty Desserts</label>
      <input type="checkbox" class="specialties__checkbox ice-cream">
      <label for="juice-bar">Juice & Smoothie Bar</label>
      <input type="checkbox" class="specialties__checkbox juice-bar">
      <label for="kombucha">Kombucha</label>
      <input type="checkbox" class="specialties__checkbox kombucha">
      <label for="buffet">Salad Bar & Buffet</label>
      <input type="checkbox" class="specialties__checkbox buffet">
      <label for="happy-hour">Happy Hour</label>
      <input type="checkbox" class="specialties__checkbox happy-hour">
    </form>
      <button><a href="/culture-convenience">Next ></button>
    </section>
  </body>
</html>
