header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EA593F;
  color: #FFFFFF;
  width: 100%;
  height: 130px;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
}

.header__p {
  padding-bottom: 0.8rem;
}

.logo {
  font-family: 'Quando', cursive;
  font-size: 8rem;
  padding-bottom: 1rem;
  margin-right: 75rem;
  }

.logo__img {
  position: absolute;
  width: 7.5%;
  bottom: 0rem;
  left: 3rem;
}

#nav-bar__search {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  padding: .3rem;
  box-shadow: 2px 0 4px #a6a6a6;
}

.fa-search {
  font-size: 1.8rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: #FBFAF8;
  margin: 2rem 0 0 111rem;
}

.fa-user,
.fa-utensils {
  padding-right: .5rem;
}

.header__a:hover {
  color: #43C1BB;
}
